html {
  height: 100%;
}

body {
  height: 100%;
}

.img-background {
  background: url(../img/background.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  padding: 0;
}

.background-fill {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: table;
}

.logo {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 0.5;
}

.logo p {
  margin-top: 30px;
  color: white;
  font-family: Lato;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bk {
  background: url(../img/bk.png) center no-repeat;
  width: 70px;
  height: 70px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

.social-frame {
  margin-top: 30px;
}

.social-frame a {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.social-frame a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-color: black;
  -webkit-transition: all 2s;
  transition: all 600ms;
}

.row {
  margin: 0;
}

.bottom-row {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.photo {
  width: 100%;
  float: right;
}

.photo a {
  font-family: Lato;
  color: white;
  text-decoration: none;
  font-size: 10px;
  opacity: 0.5;
  float: right;
  text-align: right;
}

.photo a:hover {
  opacity: 1;
  text-decoration: none;
}

.bottom-name {
  background: url(../img/name.png) center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  float: right;
  width: 110px;
  height: 8px;
  margin-top: 12px;
  position: relative;
}